.container {

    display: flex;
    align-items: center;

    margin-top: 32px;

    .switch {
        position: relative;
        display: inline-block;
        width: 49px;
        height: 24px;
        margin-right: 16px;


        .input {
            display: none;
        }

        .round {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            cursor: pointer;

            background-color: #ffffff;

            border: 1px solid #CCCCCC;
            border-radius: 32px;

            transition: all .4s;

            &:before {
                content: "";

                position: absolute;
                right: 3px;
                bottom: 2px;

                height: 16px;
                width: 16px;

                background: #F4F4F4;

                border: 1px solid #CCCCCC;
                border-radius: 32px;

                transition: all .4s;
            }
        }
    }


    .input:checked+.round {
        background-color: #7A5CFA;

        &:before {
            transform: translateX(-23px);
            background: #FFFFFF;
        }
    }

    .state {
        font-size: 16px;
    }
}